<% provide(:title, "Contact") %>
<div class="center jumbotron">
  <h1>Contact</h1>
  <p>
    Contact the Ruby on Rails Tutorial about the sample app at the
    <a href="http://www.railstutorial.org/contact">contact pagehref="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
  </p>
</div>




